.card-image {
  height: 200px;
  width: 298px;
}
.product-item {
  padding: 2px;
}
.main--product--conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product--conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
