.card-image {
  height: 200px;
  width: 298px;
}
.product-item {
  padding: 2px;
}
.card {
  width: 18rem;
}

.card-details {
  padding: 16px;
}

.main--product--conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product--conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.cta-btn button {
  padding: 8px 0;
}

@media (max-width: 1100px) {
  .card-image {
    height: 90px;
    width: 100%;
  }
  .product-item {
    padding: 1px;
  }

  .product--conatiner {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    gap: 10px;
  }

  .card {
    width: 100%;
  }
  .card-details {
    padding: 10px;
  }
  .cta-btn button {
    padding: 6px 0;
  }
}
